.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: var(--color-element);
  box-shadow: var(--shadow-1);
  padding: 0 var(--padding-vertical-1);

  &__heading {
    font-size: clamp(16px, 3.5vw, 24px); // 1.6 ~ 2.4 rem
    font-weight: 800;
  }
}

.btn-dark-mode {
  font-family: inherit;
  font-size: 1.3rem;
  // font-size: clamp(12px, 2.5vw, 16px);
  font-weight: 600;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  transition: 0.2s;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-1);
  color: var(--color-text);

  &__icon {
    margin-right: 0.5rem;
  }

  &:hover {
    border: 1px solid currentColor;
  }
}
